<div class="panel panel-primary">
  <div class="panel-heading">
    My Dishes
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Description</th>
          <th>Prepare Time Minutes</th>
          <th>Difficulty Level</th>
          <th>Number Of Servings</th>
          <th>Dish Category</th>
          <th>DELETE</th>
        </tr>
        <tr *ngFor="let dish of dishes">
          <td>{{dish.description}}</td>
          <td>{{dish.prepareTime}}</td>
          <td>{{dish.difficultyLevel}}</td>
          <td>{{dish.numberOfServings}}</td>
          <td>{{dish.categories[0].name}}</td>
          <td><button class="btn btn-danger" (click)="deleteDish(dish)">X</button></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div *ngIf="dishes.length == 0">
      <p>There are no dishes to show.</p>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        Ingredients to buy
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Quantity</th>
              <th>Product</th>
            </tr>
            <tr *ngFor="let ingredient of ingredients">
              <td>{{ingredient.quantity}}</td>
              <td>{{ingredient.product.name}}</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
