<button *ngIf="this._auth.isAuthenticated" class="btn btn-info" style="margin-right: 10px; margin-bottom: 10px" (click)="goToAddDish()"> Add dish</button>
<button *ngIf="this._auth.isAuthenticated" class="btn btn-success" style="margin-bottom: 10px" (click)="goToAddDishCategory()"> Add dish category</button>
<div class="panel panel-primary">
  <div class="panel-heading">
    Dish Categories
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        <tr *ngFor="let dishCategory of categories">
          <td> {{dishCategory.name}}</td>
          <td><button *ngIf="this._auth.isAuthenticated" class="btn btn-info" (click)="editCategory(dishCategory.id)">Edit</button></td>
          <td><button *ngIf="this._auth.isAuthenticated" class="btn btn-danger" (click)="deleteCategory(dishCategory.id)">Delete</button></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Dish List
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Filter by description:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)] = '_listFilter' (keyup)="adjustFilter(_listFilter)">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"><h3>Filtered description by: {{_listFilter}}</h3></div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="dishes && filteredDishes.length">
        <thead>
        <tr>
          <th *ngIf="this._auth.isAuthenticated">Add to my list</th>
          <th>Description</th>
          <th>Prepare Time Minutes</th>
          <th>Difficulty Level</th>
          <th>Number Of Servings</th>
          <th>Dish Category</th>
          <th *ngIf="this._auth.isAuthenticated">DELETE</th>
        </tr>
        <tr *ngFor="let dish of filteredDishes">
          <td *ngIf="this._auth.isAuthenticated"><button class="btn btn-success">Add</button></td>
          <td *ngIf="this._auth.isAuthenticated; else notAuthored"><a [routerLink]="['/editDish', dish.id]">{{dish.description}}</a></td>
          <ng-template #notAuthored>
            <td>{{dish.description}}</td>
          </ng-template>
          <td>{{dish.prepareTime}}</td>
          <td>{{dish.difficultyLevel}}</td>
          <td>{{dish.numberOfServings}}</td>
          <td>{{dish.categories[0].name}}</td>
          <td *ngIf="this._auth.isAuthenticated" class="center-block"><button class="btn btn-danger" (click)="deleteDish(dish.id)">X</button></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div *ngIf="dishes.length == 0">
      <p>There are no dishes to show.</p>
    </div>

  </div>
</div>
