<div style="margin-bottom: 20px" *ngIf="this._auth.isAuthenticated">
  <button class="btn btn-info" style="margin-right: 10px" (click)="goToAddProducts()"> Add product</button>
  <button class="btn btn-success" (click)="goToAddProductCategories()"> Add product category</button>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    Product Categories
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        <tr *ngFor="let productCategory of productCategories">
          <td> {{productCategory.name}}</td>
          <td><button class="btn btn-info" (click)="edit(productCategory.id)">Edit</button></td>
          <td><button class="btn btn-danger" (click)="delete(productCategory.id)">Delete</button></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Products
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          dupa
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
