<div class="jumbotron">
  <h1 class="text-center">Edit Dish Form</h1>
  <hr>
  <div class="mol-md-4">
    <form #EditDish="ngForm" autocomplete="off" (ngSubmit)="editDish(EditDish)">
      <div class="form-group" [class.has-error]="EditDish.controls.userName.invalid && EditDish.controls.userName.touched">
        <i class="fas fa-user"></i><label for="addDescription">Description: </label>
        <input id="addDescription" type="text" class="form-control" required placeholder="{{dish.description}}" name="description" [(ngModel)]="dish.description">
      </div>
      <div class="form-group" [class.has-error]="EditDish.controls.userName.invalid && EditDish.controls.userName.touched">
        <i class="fas fa-user"></i><label for="addPrepareTime">Prepare Time in minutes: </label>
        <input id="addPrepareTime" type="number" class="form-control" required placeholder="{{dish.prepareTime}}" name="prepareTime" [(ngModel)]="dish.prepareTime">
      </div>
      <div class="form-group" [class.has-error]="EditDish.controls.userName.invalid && EditDish.controls.userName.touched">
        <i class="fas fa-user"></i><label for="addDifficultyLevel">Difficulty Level: </label>
        <input id="addDifficultyLevel" type="text" class="form-control" required placeholder="{{dish.difficultyLevel}}" name="difficultyLevel" [(ngModel)]="dish.difficultyLevel">
      </div>
      <div class="form-group" [class.has-error]="EditDish.controls.userName.invalid && EditDish.controls.userName.touched">
        <i class="fas fa-user"></i><label for="addNumberOfServings">Number of Servings: </label>
        <input id="addNumberOfServings" type="number" class="form-control" required placeholder="{{dish.numberOfServings}}" name="numberOfServings" [(ngModel)]="dish.numberOfServings">
      </div>
      <div class="form-group">
        <i class="fas fa-user"></i><label>Dish Category: </label>
        <select class="form-control" style="margin-bottom: 20px;" (change)="setDishCategory($event)">
          <option *ngFor="let category of categories; let i = index;" [ngValue]="category" [selected]="isSelectedCategory(category.name)">{{category.name}}</option>
        </select>

        <div class="panel panel-primary">
          <div class="panel-heading">
            Ingredients
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Add New Ingredient</th>
                  <th>Quantity</th>
                  <th>Product</th>
                 </tr>
                <tr>
                  <td>
                    <button *ngIf="newIngredientQuantity" type="button" class="btn btn-info" (click)="addNewIngredientToList()">Add Ingredient</button>
                  </td>
                  <td>
                    <input id="newIngredientQuantity" type="number" class="form-control" required placeholder="" name="newIngredientQuantity" [(ngModel)] = "newIngredientQuantity">
                  </td>
                  <td>
                  <select (change)="setNewIngredientProduct($event)">
                    <option *ngFor="let product of products; let i = index;" [ngValue]="product" >{{product.name}}</option>
                  </select>
                  </td>
                </tr>
                <th>
                  Existing ingredients
                </th>
                <tr>
                  <th>Quantity</th>
                  <th>Name</th>
                  <th>Delete Ingredient</th>
                </tr>
                <tr *ngFor="let ingredient of ingredients">
                  <td>{{ingredient.quantity}}</td>
                  <td>{{ingredient.product.name}}</td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="deleteIngredient(ingredient)">Delete Ingredient</button>
                  </td>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-success" style="margin-right: 10px;" [disabled]="EditDish.invalid">Edit</button>
      <button type="button" class="btn btn-info" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
