<h2 mat-dialog-title>Ingredient</h2>
<div mat-dialog-content>
  <p>Ingredient quantity: </p>
  <mat-form-field>
    <input matInput [(ngModel)]="ingredient.quantity">
  </mat-form-field>
  <p>Ingredient product: </p>
  <mat-form-field>
    <input matInput [(ngModel)]="ingredient.product.name">
  </mat-form-field>
</div>
<mat-dialog-actions>
  <button mat-raised-button (click)="cancelModal()">Close</button>
  <button mat-raised-button mat-primary (click)="save()">Save</button>
</mat-dialog-actions>
