<div class="jumbotron">
  <h1 class="text-center">Add Product Form</h1>
  <hr>
  <div class="mol-md-4">
    <form #AddDish="ngForm" autocomplete="off" (ngSubmit)="addDish(AddDish)">
      <div class="form-group" [class.has-error]="AddDish.controls.userName.invalid && AddDish.controls.userName.touched">
        <i class="fas fa-user"></i><label for="addDescription">Description: </label>
        <input id="addDescription" type="text" class="form-control" required placeholder="Description..." name="description" ngModel>
      </div>
      <div class="form-group" [class.has-error]="AddDish.controls.userName.invalid && AddDish.controls.userName.touched">
        <i class="fas fa-user"></i><label for="addPrepareTime">Prepare Time in minutes: </label>
        <input id="addPrepareTime" type="number" class="form-control" required placeholder="Prepare Time..." name="prepareTime" ngModel>
      </div>
      <div class="form-group" [class.has-error]="AddDish.controls.userName.invalid && AddDish.controls.userName.touched">
        <i class="fas fa-user"></i><label for="addDifficultyLevel">Difficulty Level: </label>
        <input id="addDifficultyLevel" type="text" class="form-control" required placeholder="Difficulty Level..." name="difficultyLevel" ngModel>
      </div>
      <div class="form-group" [class.has-error]="AddDish.controls.userName.invalid && AddDish.controls.userName.touched">
        <i class="fas fa-user"></i><label for="addNumberOfServings">Number of Servings: </label>
        <input id="addNumberOfServings" type="number" class="form-control" required placeholder="Number of servings..." name="numberOfServings" ngModel>
      </div>
      <div class="form-group">
        <i class="fas fa-user"></i><label>Dish Category: </label>
        <select class="form-control" (change)="setDishCategory($event)">
          <option *ngFor="let category of categories; let i = index;" [ngValue]="category" [selected]="isSelected(category.name)">{{category.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="AddDish.invalid">Add</button>
      <button type="button" class="btn btn-info" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
